@use '../../index' as global;
.container {
  position: relative;

  & .input {
    width: 280px;
    height: 45px;
    background: global.$main-background;
    padding: 15px 15px 0 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid global.$main-color;
    font-size: 20px;
    color: global.$main-text-color;
    line-height: 25px;

    &_error {
      color: global.$error-color;
      border-bottom: 1px solid global.$error-color;
    }

    &_profile {
      width: 510px;
      border: none;
      outline: none;
      padding: 5px;
      display: flex;
      text-align: right;
    }

    &_border {
      border-bottom: 1px solid global.$secondary-text-color;
    }
  }

  & div {
    font-size: 0.9em;
    color: global.$secondary-text-color;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    pointer-events: none;
    transition: 0.3s;
  }

  & input:focus ~ div {
    font-size: 15px;
    transform: translateY(-50%);
    padding: 2px;
    left: 25px;
    border-radius: 5px;
    letter-spacing: 3px;
  }

  & input:invalid ~ div {
    color: global.$error-color;
    border-bottom: global.$error-color;
  }
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.text__error {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10px;
  color: global.$error-color;
}

