dist
**/*.min.js
node_modules
server.js
vite.config.js
*.scss
src/@core/*
src/components/Avatar/Avatar.ts
src/components/Chat/Chat.ts
src/components/Input/Input.ts
src/pages/ChangeProfile/ChangeProfile.ts


