@use '../../../index' as global;

.chats {
  &__page {
    position: relative;
    height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__message-box {
    width: 100%;
  }

  &__box {
    height: calc(100vh - 20px);
    background-color: #fbfbfb;
    width: 350px;
    border-right: 1px solid #eaeaea;
  }
  &__title {
    margin: 30px 0 30px 0;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    margin: 0 20px 10px 0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: global.$secondary-text-color;
  }

  &__input {
    outline: none;
    border-radius: 5px;
    background-color: #efefef;
    border: none;
    margin: 0 20px 0;
    width: 90%;
    height: 32px;
    text-align: center;
  }
}

