@use '../../../index' as global;
@import '../../../styles/mixins.scss';

// TODO Убрать цвета в константы, добавить
.button{
  border: none;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  width: 280px;
  height: 37px;
  &_main {


    background-color: global.$main-color;
    color: white;
    font-size: 13px;
    line-height: 13px;
  }

  &_transparent{


    background-color: transparent;
    color: global.$main-color;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
  }
}

.button:hover {
  cursor: pointer;
}