@use '../../index' as global;

.card {
  border-top: 1px solid global.$secondary-text-color;
  width: 310px;
  display: flex;
  justify-content: space-between;
  padding: 16px;

  &__body {
    display: flex;
    justify-content: center;
    font-weight: 500;
    gap: 1rem;
  }

  &__name {
    color: global.$main-text-color;
    margin: 0;
  }

  &__message {
    color: global.$secondary-text-color;
    margin: 0;
  }

  &__time-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }

  &__time {
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    color: global.$secondary-text-color;
    margin: 0;
  }

  &__image {
    height: 47px;
    width: 47px;
    border-radius: 50%;
  }
}

.counter {
  border-radius: 50%;
  color: global.$main-background;
  background-color: global.$main-color;
  width: 12px;
  height: 12px;
  margin: 10px 0;
  padding: 2px;
  font-size: 11px;
  line-height: 12px;

  &_enabled {
    display: block;
  }
}
