// #Colors
$main-background: #fff;
$main-color: #3369f3;
$main-text-color: #1e1e1e;
$secondary-text-color: #999;
$error-color: #ff2f2f;
$message-color: #e4edfd;

:root {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light;
  color: rgb(255 255 255 / 87%);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup {
  position: fixed;
  height: 250px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.dialog__wrapper {
  padding: 1em;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll-lock {
  overflow: hidden;
}
